* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --headtextcolor: rgba(54, 55, 56, 1);
  --textcolor: rgba(107, 107, 108, 1);
  --backgroundcolorsection: rgba(11, 117, 114, 1);
}

.continer {
  margin: auto;
  width: 1230px;
}

.flex {
  display: flex;
}

.head {
  padding: 100px 0px;
}
.head .head_descriptions {
  padding-top: 120px;
}
.head .head_descriptions h1 {
  font-family: Exo 2;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: var(--headtextcolor);
  padding-bottom: 40px;
}
.head .head_descriptions p {
  width: 525px;
  height: 66px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--textcolor);
  margin-bottom: 40px;
}
.head .head_descriptions button {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--headtextcolor);
}
.head .head_descriptions .line, .head .head_descriptions .section-3 .truck_service_cards h4, .section-3 .truck_service_cards .head .head_descriptions h4 {
  width: 104px;
  height: 0px;
  border: 3px;
  border: 3px solid rgb(255, 206, 80);
}

.section-1 {
  width: 1240px;
  height: 341px;
  top: 681px;
  left: 100px;
  gap: 0px;
  border-radius: 20px;
  border: 1px;
  opacity: 0px;
  border: 1px solid rgb(215, 215, 221);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 67px;
}
.section-1 .card {
  width: 430px;
  height: 245px;
  padding: 40px 80px;
}
.section-1 .card img {
  margin-bottom: 24px;
}
.section-1 .card h2 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: var(--headtextcolor);
  padding-bottom: 16px;
}
.section-1 .card p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--textcolor);
  width: 225px;
  height: 65px;
}
.section-1 .card .lines {
  width: 261px;
  height: 0px;
  top: 721px;
  left: 513px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  rotate: -90 deg;
  color: rgb(4, 40, 139);
}

.truck_descriptions {
  padding: 72px 66px;
}
.truck_descriptions .truck_descriptions_parent {
  display: flex;
  justify-content: space-between;
}
.truck_descriptions .lock_descriptions {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 447px;
  height: 80px;
  margin-bottom: 62px;
  cursor: pointer;
}
.truck_descriptions .lock_descriptions h3 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: var(--headtextcolor);
  padding-bottom: 16px;
}
.truck_descriptions .lock_descriptions p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--textcolor);
}

.section-3 {
  padding: 120px 0px;
}
.section-3 .truck_service h1 {
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: var(--headtextcolor);
  padding-bottom: 32px;
}
.section-3 .truck_service p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--textcolor);
  width: 460px;
  height: 41px;
  margin-bottom: 56px;
}
.section-3 .truck_cards_service {
  display: flex;
  justify-content: space-between;
}
.section-3 .truck_service_cards {
  width: 393px;
  height: 450px;
  border-radius: 10px;
  opacity: 0px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.section-3 .truck_service_cards img {
  margin-bottom: 24px;
}
.section-3 .truck_service_cards h3 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: var(--headtextcolor);
  margin: 16px 32px;
}
.section-3 .truck_service_cards p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--textcolor);
  margin: 16px 32px;
}
.section-3 .truck_service_cards .line_orange {
  width: 76px;
  height: 0px;
  top: 2543px;
  left: 132px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid rgb(255, 206, 80);
  margin-left: 32px;
}
.section-3 .truck_service_cards h4 {
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: var(--headtextcolor);
  margin: 0px 32px;
}

.section-4 {
  width: 1239px;
  height: 917px;
  top: 2787px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--backgroundcolorsection);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.section-4 .descriptions_left h1 {
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  width: 477px;
  color: rgb(255, 255, 255);
  padding: 100px 80px;
}
.section-4 .price_right {
  width: 652px;
  height: 747px;
  top: 2872px;
  left: 621px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  background-color: rgb(255, 255, 255);
  margin: 70px 30px;
}
.section-4 .price_right .price_right_top {
  padding: 28px 0px;
  display: flex;
  gap: 190px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.582);
  width: 600px;
  margin-left: 30px;
}
.section-4 .price_right .price_right_top img {
  width: 103px;
  height: 56.49px;
}
.section-4 .price_right .price_right_top p {
  width: 274px;
  height: 62px;
  font-family: PT Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  color: var(--textcolor);
  padding-bottom: 32px;
}/*# sourceMappingURL=style.css.map */